* {
     box-sizing: border-box;
}

:root {
     --primary-color-bg: #10375c;
     --primary-color-text: #ffffff;
     --primary-color-btn: #2e80ce;
     --color-heading: #10375c;
     --color-desc: #575f66;
}

/* common */
.line-clamp {
     display: -webkit-box;
     -webkit-line-clamp: var(--line-clamp, 1);
     -webkit-box-orient: vertical;
     overflow: hidden;
}

.break-all {
     word-break: break-all;
}

.container {
     width: 1170px;
     max-width: calc(100% - 48px);
     margin-right: auto;
     margin-left: auto;
}

.btn {
     display: inline-block;
     min-width: 205px;
     background-color: var(--primary-color-btn);
     color: var(--primary-color-text);
     border-radius: 999px;
     text-align: center;
     border: 1px solid var(--primary-color-btn);
}

.btn:hover {
     cursor: pointer;
     opacity: 0.8;
}

a {
     color: var(--primary-color-text);
     text-decoration: none;
}

/* section-heading */
.section-heading {
     font-size: 5rem;
     font-weight: 600;
     line-height: 1.2;
     letter-spacing: -0.02em;
     color: var(--color-heading);
}

/* section-desc */
.section-desc {
     font-size: 1.8rem;
     font-weight: 300;
     line-height: 1.67;
     color: var(--color-desc);
}

/* logo */
.logo {
     display: flex;
     font-size: 1rem;
     position: relative;
}

.logo__circle {
     display: block;
}
.logo__circle::after,
.logo__circle::before {
     content: "";
     display: inline-block;
     border-radius: 50%;
}

.logo__circle::before {
     width: 3em;
     height: 3em;
     background-color: var(--primary-color-btn);
}

.logo__circle::after {
     width: 1.6em;
     height: 1.6em;
     background-color: var(--primary-color-text);
     position: absolute;
     top: 1.1em;
     left: 1.1em;
}

.logo__text {
     color: var(--primary-color-text);
}
.logo__brand {
     display: block;
     margin-left: 0.3em;
     text-align: right;
}

.logo__brand:first-child {
     font-size: 1.8em;
     font-weight: 600;
     line-height: 0.9;
}
.logo__brand:nth-child(2) {
     font-size: 1.2em;
     font-weight: 300;
     line-height: 1.17;
}

html {
     font-size: 62.5%;
}

body {
     font-size: 1.6rem;
     font-family: "Sora", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
     padding-top: 30px;
     background-color: var(--primary-color-bg);
     min-height: 100vh;
}

.header-top {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar__list {
     display: flex;
}

.navbar__item {
     margin-left: 42px;
}

.navbar__link {
     font-size: 1.6rem;
     font-weight: 300;
     line-height: 1.75;
     color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
     text-shadow: 1px 0 0 var(--primary-color-text);
}

.navbar__link--active::before {
     position: relative;
     content: "";
     display: inline-block;
     width: 6px;
     height: 6px;
     background-color: var(--primary-color-text);
     border-radius: 50%;
     left: -8px;
     top: -2px;
}

.header-action__btn {
     margin-left: 28px;
     font-size: 1.6rem;
     font-weight: 300;
     line-height: 1.75;
     color: #c9d2da;
}

.header-action__btn.btn {
     min-width: 104px;
     padding: 7.2px 19px;
     font-weight: 400;
     color: var(--primary-color-text);
}

.hero {
     display: flex;
     padding: 76px 0 110px;
}

.hero__content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 53.85%;
}

.hero__heading {
     width: 82.06%;
     font-size: 7rem;
     font-weight: 600;
     line-height: 1.14;
     letter-spacing: -0.02em;
     color: var(--primary-color-text);
}

.hero__desc {
     width: 74.29%;
     margin-top: 22px;
     font-size: 1.8rem;
     font-weight: 300;
     line-height: 1.67;
     color: #c9d2da;
}

.hero__row {
     margin-top: 38px;
     display: flex;
     align-items: center;
}

.hero__btn {
     padding: 14.2px 46px;
     font-size: 1.8rem;
     font-weight: 400;
     line-height: 1.67;
}

.hero__phone {
     margin-left: 38px;
     font-size: 1.8rem;
     font-weight: 400;
     line-height: 1.67;
     color: var(--primary-color-text);
}

.hero__image {
     display: flex;
     align-items: center;
}

.hero__img--left {
     width: 330px;
     height: 540px;
     border-radius: 6px;
     object-fit: cover;
     z-index: 1;
}

.hero__img--right {
     margin-left: -6px;
     width: 210px;
     height: 410px;
     border-radius: 0px 6px 6px 0px;
     object-fit: cover;
}

.services {
     padding: 170px 0;
}

.services__section-heading {
     text-align: center;
}
.services__section-desc {
     margin: 18px auto 0;
     width: 40%;
     text-align: center;
}

.service-row {
     display: flex;
     margin-top: 70px;
     justify-content: space-between;
     align-items: center;
}

.service__img {
     width: 570px;
     height: 570px;
     border-radius: 12px;
     object-fit: cover;
}

.service-item {
     display: flex;
     width: 470px;
     padding: 22px;
     background: var(--primary-color-text);
     border-radius: 10px;
}

.service-item:hover {
     position: relative;
     box-shadow: 0px 14px 28px 0px #0000000d;
     transition: 0.25s;
}

.service-item:hover .service-item__icon-wrap {
     background-color: var(--primary-color-btn);
     box-shadow: 0px 8px 16px 0px #289bde26;
     transition: 0.25s;
}
.service-item:hover .service-item__icon {
     color: var(--primary-color-text);
     transition: 0.25s;
}

.service-item__icon-wrap {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     background-color: #eff6fd;
     box-shadow: 0px 8px 16px 0px #0000000d;
     flex-shrink: 0;
}
.service-item__icon {
     color: var(--primary-color-bg);
}

.service-item__body {
     margin-left: 19px;
}

.service-item__heading {
     font-size: 1.8rem;
     font-weight: 600;
     line-height: 1.28;
     color: var(--color-heading);
}
.service-item__desc {
     margin-top: 8px;
     font-size: 1.6rem;
     font-weight: 300;
     line-height: 1.44;
     color: var(--color-desc);
}

.service__btn {
     margin-top: 55px;
     padding: 15px 0;
}
